@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.main-div{
  padding:5px;
}

@media only screen and (min-width: 900px) {
  .main-div{
    padding:50px;
  }
}


.bolder {
  font-weight: 500 !important;
}

.bold {
  font-weight: bold !important;
}

.flex {
  display: flex;
}

.apart {
  justify-content: space-between;
}
